body{
    background-color: ghostwhite;
}

h1{

    margin-top: 50px;
    
    text-align: center;
}
#buttonEditar{

    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;


}
#buttonSuprimir{

   
    margin-top: 5px;
    margin-bottom: 5px;


}

.amaga{
    display: none;
}


